<article class="card figurita" [attr.data-testId]="'figurita_'+figurita.id" >
    <section class="figurita__imagen" data-testId="figuritaImagen">
      <img src="../assets/{{figurita.imagen}}" alt="" />
      <i data-testId="b" *ngIf="mostrarBoton" (click)="onClickBorrar()" class="fa-solid fa-trash"></i>
    </section>
    <section class="figurita__info-principal">
      <div class="figurita__info-principal figurita__info__container">
        <h2 data-testId="figuritaNombre">{{figurita.nombre}}</h2>
        <div class="">
          <i class="fa-solid fa-id-badge"></i>
          <h2 data-testId="figuritaNumero">{{figurita.numeroFigurita}}</h2>
        </div>
        <div class="">
          <i *ngIf="figurita.onFire" class="fa-solid fa-fire-flame-curved on-fire"></i>
          <i class="fa-solid fa-star"></i>
          <h2 data-testId="figuritaValoracion">{{figurita.valoracionFigurita()}}</h2>
        </div>
      </div>
      <div class="figurita__info-principal figurita__info__container">
        <div class="">
          <i class="fa-solid fa-weight-scale"></i>
          <p>Peso <span data-testId="figuritaPeso">{{figurita.peso}}</span> kilos</p>
        </div>
        <div class="">
          <i class="fa-solid fa-person"></i>
          <h2>Altura</h2>
          <span data-testId="figuritaAltura">{{figurita.altura}}</span>
        </div>
      </div>
    </section>
    <hr />
    <section class="figurita__info-secundaria">
      <div class="figurita__info-secundaria figurita__info__container">
        <div class="">
          <h2>Casaca</h2>
          <span data-testId="figuritaNroCamiseta">{{figurita.nroCamiseta}}</span>
        </div>
        <div class="">
          <h2>Seleccion</h2>
          <span data-testId="figuritaSeleccion">{{figurita.seleccion}}</span>
        </div>
      </div>
      <div class="figurita__info-secundaria figurita__info__container">
        <div>
          <h2>Nacimiento</h2>
          <span data-testId="figuritaNacimientoEdad">{{figurita.nacimiento}} ({{figurita.edadJugador()}} años)</span>
        </div>
        <div>
          <h2>Posicion</h2>
          <span data-testId="figuritaPosicion">{{figurita.posicion}}</span>
        </div>
      </div>
    </section>
    <section class="figurita__cotizacion">
      <h2>Cotizacion <span class="cotizacion" data-testId="figuritaCotizacion">{{figurita.cotizacion}}</span></h2>
    </section>
    <section *ngIf="isMain" class="figurita__cedido">
      <h2>Cedida por <span class="cedido" data-testId="figuritaCedidaPor">{{figurita.cedidaPor?.nombre}} {{figurita.cedidaPor?.apellido}}</span></h2>
    </section>
</article>
